<header class="bg-white dark:bg-gray-800 shadow-md p-2 flex items-center justify-between">
  <button (click)="onToggleSidebar()" class="text-gray-500 dark:text-white focus:outline-none">
    <span class="material-symbols-outlined" id="menuIcon">menu</span>
  </button>

  <div class="relative w-full max-w-md">
    <input type="text" placeholder="Search..." class="w-full pl-8 p-2 bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-white rounded-full  focus:outline-beige" />
    <span class="absolute left-0 top-0 mt-2 text-gray-500 dark:text-gray-400">
      <span class="material-symbols-outlined">search</span>
    </span>
  </div>

  <div class="flex items-center space-x-6">
    <div class="relative inline-block p-2">
      <i class="fas fa-calendar-days text-beige absolute top-1/2 left-3 transform -translate-y-1/2 pointer-events-none"></i>
      <select class="appearance-none w-full p-2 pl-6 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300">
          <option value="2023-2024">Année-scolaire: 2023-2024</option>
          <option value="2024-2025">Année-scolaire: 2024-2025</option>
      </select>
  </div>

    <div class="">
      <button type="button" class="group relative block">
        <img class="h-9 w-9 rounded-full object-cover saturate-50 group-hover:saturate-100" src="https://via.placeholder.com/150" alt="Profile Picture" />
      </button>
    </div>
  </div>
</header>
