<app-domaine-specialite></app-domaine-specialite>
<div class="bg-gray-50 p-3 rounded-md">
  <div class="flex mt-3 bg-white shadow-lg p-3">
      <div class="flex">
        <select class="p-1 border border-gray-300 rounded-md focus:outline-beige shadow-md">
          <option>Choisir le domaine</option>
        </select>
        <select class="p-1 border border-gray-300 rounded-md focus:outline-beige shadow-md ml-2">
          <option>Choisir la mention</option>
        </select>
        <select class="p-1 border border-gray-300 rounded-md focus:outline-beige shadow-md ml-2">
          <option>Choisir le niveau</option>
        </select>
          <input type="text" placeholder="Developpement Web/Mobile" class="p-1 border border-gray-300 rounded-md focus:outline-beige shadow-md w-96 ml-2" />
          <button class="bg-rouge text-white px-3 py-1 rounded-md ml-4">Créer</button>
      </div>
  </div>


  <div class="overflow-x-auto mt-2">
      <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
          <thead class="bg-gray-50">
              <tr>
                  <th class="text-left py-3 px-2 text-red-600 text-sm">Niveau</th>
                  <th class="text-left py-3 px-2 text-red-600 text-sm">Cycle</th>
                  <th class="text-left py-3 px-2 text-red-600 text-sm">Documents à ramener</th>
                  <th class="text-left py-3 px-2 text-red-600 text-sm">Documents à retirer</th>
                  <th class="text-left py-3 px-2 text-red-600 text-sm">Semestre en cours</th>
                  <th class="text-left py-3 px-2 text-red-600 text-sm">État</th>
                  <th class="text-center py-3 px-2 text-red-600 text-sm">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr class="border-b hover:bg-gray-100 transition duration-150">
                  <td class="p-2 text-sm">Doctorat 1</td>
                  <td class="p-2 text-sm">Doctorat</td>
                  <td class="p-2 text-sm">
                    <div class="flex flex-wrap gap-2">
                      <button class="flex items-center justify-between h-8 px-3 bg-[#6D7FE2] rounded-lg shadow text-[#242B5A]">
                        <span>Semestre 1</span>
                        <i class="fas fa-xmark ml-2"></i>
                      </button>
                      <button class="flex items-center justify-between h-8 px-3 bg-[#6D7FE2] rounded-lg shadow text-[#242B5A]">
                        <span>Semestre 2</span>
                        <i class="fas fa-xmark ml-2"></i>
                      </button>
                      <button class="flex items-center justify-between h-8 px-3 bg-[#6D7FE2] rounded-lg shadow text-[#242B5A]">
                        <span>Semestre 3</span>
                        <i class="fas fa-xmark ml-2"></i>
                      </button>
                    </div>
                  </td>
                  <td class="p-2 text-sm">
                    <div class="flex flex-wrap gap-2">
                      <button class="flex items-center justify-between h-8 px-3 bg-beige rounded-lg shadow text-[#242B5A]">
                        <span>Semestre 1</span>
                        <i class="fas fa-xmark ml-2"></i>
                      </button>
                      <button class="flex items-center justify-between h-8 px-3 bg-beige rounded-lg shadow text-[#242B5A]">
                        <span>Semestre 2</span>
                        <i class="fas fa-xmark ml-2"></i>
                      </button>
                    </div>
                  </td>

                  <td class="p-2 text-sm">
                    <select class="p-1 border border-gray-300 bg-green-300 rounded-md focus:outline-beige shadow-md ml-2">
                      <option>Semestre 1</option>
                      <option>Semestre 1</option>
                      <option>Semestre 1</option>
                    </select>
                  </td>
                  <td class="p-2 text-sm">
                      <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
                          Actif
                      </span>
                  </td>
                  <td class="p-2 text-center">
                      <i class="fa-solid fa-ellipsis text-rouge cursor-pointer"></i>
                  </td>
              </tr>
              <tr class="border-b hover:bg-gray-100 transition duration-150">
                <td class="p-2 text-sm">Développement Web/Mobile</td>
                <td class="p-2 text-sm">Informatique</td>
                <td class="p-2 text-sm">Sciences et technologie</td>
                <td class="p-2 text-sm">
                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
                        Actif
                    </span>
                </td>
                <td class="p-2 text-center">
                    <i class="fa-solid fa-ellipsis text-rouge cursor-pointer"></i>
                </td>
            </tr>
            <tr class="border-b hover:bg-gray-100 transition duration-150">
              <td class="p-2 text-sm">Développement Web/Mobile</td>
              <td class="p-2 text-sm">Informatique</td>
              <td class="p-2 text-sm">Sciences et technologie</td>
              <td class="p-2 text-sm">
                  <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
                      Actif
                  </span>
              </td>
              <td class="p-2 text-center">
                  <i class="fa-solid fa-ellipsis text-rouge cursor-pointer"></i>
              </td>
          </tr>
          </tbody>
      </table>
  </div>


  <!-- Pagination -->
  <div class="flex justify-between mt-4">
      <select class="p-1 border border-gray-300 rounded-md">
          <option>3 éléments / page</option>
          <option>5 éléments / page</option>
      </select>
      <div class="flex space-x-2">
          <nav aria-label="Page navigation example">
              <ul class="inline-flex -space-x-px text-sm">
                  <li>
                      <a href="#"
                          class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                          < </a>
                  </li>
                  <li>
                      <a href="#"
                          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-beige">1</a>
                  </li>
                  <li>
                      <a href="#"
                          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                  </li>
                  <li>
                      <a href="#"
                          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                          > </a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
</div>
